/*---------------------NAVBAR---------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(77, 77, 77);
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
float: left;
border-right:1px solid #bbb;
}

li:last-child {
border-right: none;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: rgb(106, 165, 204);
}

/*---------------------TEXTS---------------*/

h1 {
  text-align: center;
}

h3 {
    text-align: center;
}

.h2r {
    text-align: right;
}

.h2l {
    color: #DDDDDD;
}

#hlinks {
    text-align: center;
}

.butl {
    text-align: right;
}
/*---------------------SPLITTERS---------------*/

.section {
    background-color: rgba(90, 207, 198, 0.5); 
    display:flex;
    background: url(Image\ Resources/gradient.png);
    background-size:100% auto;
    justify-content: center;
}

.sub-section {
    padding: 10px;
    font-size: 20px;
}

/*---------------------ABOUT ME SECTION---------------*/

.prophoto{
    width: 30%;
    border-radius: 50%;
    border: rgb(0, 0, 0) 5px solid;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.addenda{
    width: 40%;
    height: 40%;
    border: rgb(0, 0, 0) 5px solid;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.aboutMe{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    background: url(Image\ Resources/aboutme2.jpg);
    background-size:100% auto;
}

.aboutMe .aboutInfo {
    flex-direction: column;
    padding: 10px 10px;
}

.projects{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    background: url(Image\ Resources/xmlExample.png);
    background-size:100%;
}

.projectsInfo {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.descrInfoC {
    padding: 15px 10px;
    background-color: #eeefff;
    border: 1px solid black;
    opacity: 1;
}

.descrInfo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
}

.txt1 {
    background-color: "#D9EAF8";
    margin: "50px";
    border-radius: "15px"; 
    padding: "30px";
    color: #DDDDDD;
}

/*---------------------TECHNOLOGIES---------------*/
.Tech{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.techInfo{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.iconText {
    text-align: center;
}

/*---------------------TITLE---------------*/
#title {
    display: flex;
    flex-direction: column;
    background: url(Image\ Resources/titleScreen2.jpg);
    background-size:100% auto;
    padding: 140px 160px;
}

.structure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*---------------------BODY BORDER---------------*/
body{
    /*font-family:'Roboto',sans-serif;*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*---------------------BUTTON TEST---------------*/
a.button2{
    display: inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

a.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

a.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.share-button {
    display: flex;
    justify-content: center;
}

@media all and (max-width:30em){
    a.button2{
    display:block;
    margin:0.4em auto;
    }
}
/*---------------------SOCIAL MEDIA---------------*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.socialmedia {
    padding: 10px;
    text-align: center;
}
  
/* Add a hover effect if you want */
.fa:hover {
opacity: 0.4;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
background: rgb(37, 37, 37);
color: white;
}

/* Twitter */
.fa-twitter {
background: rgb(37, 37, 37);
color: white;
}

.fa-linkedin {
background: rgb(37, 37, 37);
color: white;
}



/*---------------------CONTACT INFO---------------*/
.social {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(77, 77, 77);
}

.contactInfo{
    color: rgb(179, 179, 179);
    font-size: 15px;
    text-align: end;
    padding: 5px 5px;
}


/*---------------------TITLE2---------------*/
div.background {
background: url(Image\ Resources/titleScreen2.jpg);
background-size: 100% auto;
border: 2px solid black;
padding: 150px 10px;
}

div.transbox {
margin: 30px;
background-color: #ffffff;
border: 1px solid black;
opacity: 0.6;
}

div.transbox p {
margin: 5%;
font-size: 25px;
font-weight: bold;
color: #000000;
text-align: center;
}

@media (max-width: 800px) {
.aboutMe {
    flex-direction: column;
}
.projects {
    flex-direction: column;
}
}

@media (max-width: 550px) {
.Tech {
    flex-direction: column;
}
}